.exam_empty {
  padding-top: 3%;
  .img_empty {
    width: 40%;
    object-fit: contain;
    margin-bottom: 1.5rem;
    max-width: 20rem;
    max-height: 70%;
  }
}
.card_tips {
  .v-card-title {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    white-space: pre;
  }

  .v-card-item {
    .v-icon {
      color: #ffc107;
      opacity: 1;
    }
  }
}
