.exam_empty {
  padding-top: 3%;
  .img_empty {
    width: 40%;
    object-fit: contain;
    margin-bottom: 1.5rem;
    max-width: 20rem;
    max-height: 70%;
  }
}
.card_tips {
  .v-card-title {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    white-space: pre;
  }

  .v-card-item {
    .v-icon {
      color: #ffc107;
      opacity: 1;
    }
  }
}

.toolbar-with-border {
  border: 1px solid #fd7e14;

  .v-toolbar-title__placeholder {
    font-size: 14px;
  }
}

.create-exam {
  .v-list-subheader__text {
    white-space: pre-wrap !important;
    overflow: visible;
    word-wrap: break-word;
    color: #4d4d4d;
  }
}

.label-required .v-list-subheader__text {
  position: relative;
}
.label-required .v-list-subheader__text::after {
  position: absolute;
  content: "*";
  right: -20px;
  color: red;
  top: 0;
  bottom: 0;
}
