.class-detail {
  .class-detail_img {
    img {
      object-fit: cover;
      width: 260px;
      height: 220px;
      border-radius: 0.5rem;
    }
  }

  .class-detail_infor {
    .v-row {
      flex: 0;
      img {
        width: 24px;
        object-fit: contain;
      }

      .class-detail_text {
        margin-left: 1rem;
      }
    }
  }

  .class-detail_action {
    width: 160px;
    height: 160px;
    border-radius: 0.75rem;

    .class-detail_action_img {
      height: 90px;
    }
  }
}
