/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #ebebeba3;
  --primary-color: #00bd7e;
  --text-color: #4d4d4d;
  --btn-color: #efe841;
  --linear-color: linear-gradient(to right, #00b97f, #00b9b7);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
}

/* COLORS TEXT */
.color-primary {
  color: var(--primary-color);
}

.color-text {
  color: var(--text-color);
}

.color-black {
  color: #000000;
}

.color-white {
  color: #FFFFFF;
}

.color-right {
  color: #009444 !important;
  font-weight: 600;
  font-size: 1.125rem !important;
  line-height: normal !important;
}
.color-right-textfield input,
.checkboxRight .v-selection-control--dirty .v-label {
  color: #009444 !important;
  font-weight: 600;
  font-size: 1.125rem !important;
  line-height: normal !important;
}

.color-wrong {
  color: #be1e2d !important;
  font-weight: 600;
  font-size: 1.125rem !important;
  line-height: normal !important;
}
.color-wrong-textfield input,
.checkboxWrong .v-selection-control--dirty .v-label {
  color: #be1e2d !important;
  font-weight: 600;
  font-size: 1.125rem !important;
  line-height: normal !important;
}

.line-height-normal {
  line-height: normal !important;
}

.height-100 {
  height: 100%;
}

/* Scroll rgba black */
/* Scroll Custom Transparent bg */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  /* margin: 10px 0; */
}

/* Handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* Font */
.font-bold {
  font-weight: bold;
}

.font-semi-bold {
  font-weight: 600;
}

.bg-btn {
  background-color: var(--btn-color) !important;
  color: #484848 !important;
}

/* Object fit Image */
.contain_image {
  object-fit: contain;
}
.cover_image {
  object-fit: cover;
}

.v-data-table__exam .v-data-table__th .v-data-table-header__content span {
  font-weight: bold;
  border-bottom: 3px solid var(--primary-color);
}

.v-container__full {
  width: 100% !important;
  max-width: 100% !important;
}

.pd-0 {
  padding: 0 !important;
}

.box-shadow {
  box-shadow: 1px 2px 4px 0 rgba(21, 27, 38, 0.4);
}

.btn-delete-linear {
  background-image: var(--linear-color) !important;
}

.btn-warning {
  background-color: #F8AF36 !important;
}

.btn-error {
  background-color: #e77865 !important;
}

.bg_white {
  background-color: #fff;
}

/* FONT SIZE */
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-underline-offset-6 {
  text-decoration-line: underline;
  text-underline-offset: 6px;
}