.class-docs {
  max-height: 90%;
  overflow-y: auto;
  flex: 1;

  .class-docs_empty {
    // width: 60%;

    img {
      width: 50% !important;
      max-width: 27.5rem !important;
      min-width: 20rem;
    }
  }

  .docs-item {
    background-color: white;
    border-radius: 1rem;
    min-height: 6.5rem;
    position: relative;

    .img_type {
      position: absolute;
      top: 8px;
      left: -30px;
      border-radius: 50%;
      width: 90px;
      height: 90px;
    }
  }
}
.input-file-custom {
  .v-input__prepend {
    display: none;
  }
}
