.edit-password-container {
  align-self: center;
  margin: 0 auto;
  width: 60%;
  min-width: 50rem;
  margin-top: 4rem;

  .v-input__control {
    width: 95%;
    .v-field__input {
      background-color: white;
      border-radius: 2.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
