.header_title {
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  padding-left: 0;
}

.header_icon {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
  img {
    width: 100%;
    min-width: 100%;
  }
}

.header_divider {
  max-height: 100% !important;
  flex: none !important;
  margin: 1rem 0;
}

.header_search,
.header_selection {
  .v-input {
    .v-input__control {
      .v-field {
        border: 1.4px solid var(--primary-color);
        box-shadow: none;
      }

      .v-field__prepend-inner {
        i {
          color: var(--primary-color);
          opacity: 1;
          &:before {
            color: var(--primary-color);
          }
        }
      }

      .v-field__outline {
        display: none !important;
      }
    }
  }
}

.header_selection {
  .v-input {
    .v-input__control {
      .v-field {
        height: 88%;
        display: flex;
        align-items: center;
        align-self: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.header-btn {
  background-color: #efe841;
  border: 1px solid white;
  text-transform: initial;

  .v-btn__content {
    font-weight: 600;
    color: white;
  }
}
